@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #d5cdd0;
}

/*.timeline {
  display: flex;
  flex-direction: row;
}

.timeline-item{
  width: 50%;
}

@media (max-width: 768px){
  .timeline {
    flex-direction: column;
  }

  .timeline-item{
    width: 100%;
  }
}


/* CSS for Toggling dark mode and light mode

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
}*/

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
